/* TITULO */

.title{
    padding-top: 20px;
    color: black;

}

.title h1{
    font-size: 48px;
}

.title h1 span{
    font-weight: 100;
}

.title h2{
    font-weight: 100;
    font-size: 0.9rem;
    text-align: center;
}