*{
    margin: 0;
    padding: 0;
    font-family: 'Nixie One' , sans-serif;
    text-decoration: none
    
}


@import "body";
@import "main";
@import "nav";
@import "footer";
@import "media-q";
@import "galeria";
@import "transiciones";
@import "servicios";
@import "titulo";
@import "variables";


